.banner-img-1{
    background-image: url("../images/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
}
.carousel{
    height: 100vh;
    background: rgba(17, 17, 17, 0.8);
  border-radius: 8px;
}